
td{
    font-style: italic;
}
.rt{
    color: blue;
}
h1{
    text-align: center;
    color: crimson;
}
.dob{color: blue;
}
.sel{
    color: blue;
}
.na{
    color: blue;
}
.co{
    color: blue;
}
.my-button{
    font-size: 20px;
}
.add{
    color: blue;
}
.fn{
    color: blue;
}
.st{
    color: blue;
}
.dist{
    color: blue;
}
.pc{
    color: blue;
}

